.Contact {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: $gr-dark;
  color: $cl-white;

  &__box {
    min-height: calc(100vh - 186.5px);
    display: grid;
    place-items: center;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    // margin: 0 auto;
  }

  &__fields {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: $sp-11;
    width: 100%;
    max-width: $cs-section;
    margin: 0 auto;
    padding-top: 110px;
    padding-left: 80px;
    padding-right: 80px;

    @media screen and (max-width: $bp-md-notch) {
      padding-left: 16px;
      padding-right: 16px;
    }

    @media screen and (max-width: $bp-md-var) {
      flex-direction: column;
      align-items: center;
      gap: $sp-8;
    }
  }

  &__form {
    width: $cs-full;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: $sp-7;

    &__container {
      width: $cs-full;
      max-width: 470px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $sp-8;
    }

    &--input {
      &__container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: $sp-2;

        label,
        input,
        textarea {
          transition: $t-ease;
        }

        label {
          font-size: $sp-3-notch;
          font-weight: 500;
          line-height: $sp-4;
          color: $cl-gray;
        }

        input,
        textarea {
          font-size: $sp-3-notch;
          line-height: $fs-tagline;
          padding: $sp-2 $sp-3;
          border-radius: 4px;
          width: $cs-full;
          color: $cl-white;
          background-color: $cl-dark-2;
          border: 1px solid $cl-gray;

          &:focus {
            background-color: $cl-dark-1;
            border-color: $cl-white;
          }
        }

        textarea {
          height: $sp-xl;
          resize: none;
          cursor: text;
        }

        &:focus-within label {
          color: $cl-white;
        }
      }
    }

    &__submit {
      background-color: $cl-white !important;
      color: $cl-dark-1 !important;

      &:disabled {
        background-color: $cl-gray !important;
        color: $cl-dark-2;
        opacity: 0.6;
        cursor: not-allowed;
      }
    }
  }

  &__title {
    font-size: $fs-h1-contact;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $sp-4;
    font-size: $fs-sm;
    line-height: $lh-item;

    li {
      color: rgba($cl-white, 0.8);

      b {
        color: $cl-white;
      }
    }

    &__container {
      margin-top: $sp-2;
      width: $cs-full;
      max-width: 470px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: $sp-4;
    }

    &__map {
      display: flex;
      flex-direction: column;
      gap: $sp-4;

      .map {
        position: relative;
        width: 100%;
        height: 300px;
      }

      .address {
        display: flex;
        align-items: center;
        gap: $sp-4;

        a {
          &:hover {
            svg path {
              stroke: $cl-red;
            }
          }
        }

        svg {
          width: $sp-6;
        }

        svg path {
          stroke: rgba($cl-white, 0.8);
          transition: $t-ease;
        }

        span {
          font-size: $fs-sm;
          line-height: $lh-snug;
          color: rgba($cl-white, 0.8);
        }
      }
    }
  }

  &__socials {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $sp-4;
    gap: $sp-8;

    li {
      svg {
        width: $fs-more;
        height: $fs-more;
        color: $cl-white;

        path {
          stroke: $cl-white;
        }
      }
    }
  }
}
