html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
ul,
li {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
figcaption {
  line-height: normal;
}

h1,
h2 {
  font-family: var(--font-basier);
  font-weight: 600;
}

h3,
h4,
h5,
h6,
p,
span,
button,
figcaption,
form,
li {
  font-family: var(--font-inter);
}

h1 {
  font-size: $fs-h1-md;

  @media screen and (min-width: $bp-md) {
    font-size: $fs-h1;
  }
}

h2 {
  font-size: $fs-h2-md;
  line-height: $lh-h2;

  @media screen and (min-width: $bp-md) {
    font-size: $fs-h2;
  }
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul,
li {
  list-style: none;
}

figure {
  margin: 0;
}

* {
  box-sizing: border-box;
}
