.Home {
  position: relative;
  margin: 0 auto;
  width: 100%;

  &__header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    padding: $sp-6;
    background-color: $cl-black;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $t-ease;

    &.playable {
      object-fit: contain;
    }

    &--container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      pointer-events: none;

      &.is-visible {
        pointer-events: all;
      }
    }

    &--overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: brightness(0.1);
      transition: opacity $t-ease;
      z-index: 0;

      &.is-hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  &__video-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: $cl-white;
    margin: $sp-4;

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }

    svg path {
      stroke: $cl-white;
    }
  }

  &__container {
    margin: 0 auto;
    width: 100%;

    &.heading {
      max-width: $cs-header;
      padding-left: $sp-8;
      padding-right: $sp-8;

      @media screen and (min-width: $bp-md) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &.section {
      display: flex;
      flex-direction: column;
      text-align: center;
      max-width: $cs-section;
      padding-top: $sp-xl;
      padding-bottom: calc($sp-xl + $sp-8);
      padding-left: $sp-4;
      padding-right: $sp-4;

      @media screen and (min-width: $bp-2xl) {
        padding-left: 0;
        padding-right: 0;
      }

      @media screen and (min-width: $bp-sm-var) {
        padding-left: $sp-8;
        padding-right: $sp-8;
      }
    }
  }

  &__title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $sp-6;
    transition: opacity $t-ease;

    &--text {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $sp-8;

      h1 {
        color: $cl-white;
        font-size: $fs-h1-md;
        text-align: center;
        pointer-events: none;

        i {
          font-style: normal;
          color: $cl-red;
        }

        @media screen and (min-width: $bp-md) {
          font-size: $fs-h1;
        }
      }
    }

    &--actions {
      position: relative;
      display: flex;
      align-items: center;
      gap: $sp-8;

      @media screen and (max-width: $bp-sm) {
        gap: $sp-4;
        flex-direction: column;
        justify-content: center;
      }
    }

    &.is-hidden {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__section {
    position: relative;

    &--strengths {
      background-color: $cl-white;
    }

    &--staff {
      background: $gr-dark;
      color: $cl-white;
    }

    &--list {
      $list: &;
      margin-top: $sp-9;
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr));
      gap: $sp-4;
      width: $cs-full;

      &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: $sp-2;
        max-height: 24rem;
        padding: $sp-8;
        width: $cs-full;
        box-shadow: $bs-item;
        border-radius: $sp-1;
        grid-column: span 2;
        transition: $t-ease;

        &:last-child:nth-child(3n - 1) {
          grid-column-end: -2;
        }

        &:nth-last-child(2):nth-child(3n + 1) {
          grid-column-end: 4;
        }

        i {
          padding: $sp-4 0;

          svg {
            width: $sp-10;
            height: $sp-10;
            stroke: $cl-red;
          }
        }

        b {
          font-family: var(--font-inter);
          line-height: $lh-h1;
          font-weight: 600;
          font-size: $fs-tagline;
          color: $cl-black;
        }

        span {
          font-size: $fs-sm;
          font-weight: 500;
          line-height: $lh-item;
          color: rgba($cl-black, 0.8);
        }

        &:hover {
          box-shadow: none;
          background-color: rgba($cl-red, 0.1);
        }
      }

      &.staff {
        #{ $list }__item {
          background: rgba($cl-white, 0.02);
          box-shadow: $bs-item-inset;
          padding: $sp-9;
          border: 1px solid $cl-dark-2;

          b,
          span {
            color: $cl-white;
          }

          b {
            margin-top: $sp-4;
          }

          picture {
            position: relative;
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            overflow: hidden;
          }

          &:hover {
            box-shadow: none;
            background-color: rgba($cl-white, 0.1);
          }
        }
      }
    }
  }
}
