.Post {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: $gr-dark;
  color: $cl-white;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sp-11;
    min-height: calc(100vh - 186.5px);
    width: $cs-full;
    max-width: $cs-post;
    margin: 0 auto;
    padding: calc($sp-xl + $sp-8) $sp-8;

    @media screen and (min-width: $bp-2xl) {
      padding: calc($sp-xl + $sp-8) 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $sp-8-1;
  }

  &__title {
    font-weight: 700;
    font-size: $fs-h1-md;
    line-height: $lh-snug;
  }

  &__author {
    display: flex;
    flex-direction: column;
    text-align: left;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $sp-4;
    }

    &__image {
      position: relative;
      width: $sp-8-2;
      height: $sp-8-2;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    &.name {
      font-size: $fs-body;
      line-height: $lh-excerpt;
    }

    time {
      font-size: $fs-sm;
    }
  }

  &__content {
    position: relative;
    width: $cs-full;
    text-align: left;

    p {
      overflow-wrap: break-word;
      line-height: $lh-post;
      color: rgba($cl-white, 0.8);

      strong {
        font-weight: 600;
        color: $cl-white;
      }

      &:not(:last-child) {
        margin-bottom: $sp-8-notch;
      }
    }
  }
}
