.Post {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: $gr-dark;
  color: $cl-white;

  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $sp-11;
    min-height: calc(100vh - 186.5px);
    width: $cs-full;
    max-width: $cs-section;
    margin: 0 auto;
    padding: calc($sp-xl + $sp-8) $sp-8;

    @media screen and (max-width: $bp-sm) {
      gap: $sp-10;
    }

    @media screen and (min-width: $bp-2xl) {
      padding: calc($sp-xl + $sp-8) 0;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $sp-8-1;
    width: $cs-full;
    max-width: $cs-post;

    &--image {
      position: relative;
      overflow: hidden;
      border-radius: $sp-4;
      width: 100%;
      aspect-ratio: 16/9;
      max-height: 25rem;

      img {
        object-fit: cover;
        object-position: center;
      }

      @media screen and (min-width: $bp-lg) {
        max-height: initial;
      }
    }

    @media screen and (max-width: $bp-sm) {
      gap: $sp-6;
    }
  }

  &__title {
    font-weight: 700;
    line-height: $lh-snug;
    font-size: 28px;

    @media screen and (min-width: $bp-md) {
      font-size: $fs-h1-md;
    }
  }

  &__author {
    display: flex;
    flex-direction: column;
    text-align: left;

    &--container {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: $sp-4;
    }

    &__image {
      position: relative;
      width: $sp-8-2;
      height: $sp-8-2;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;
      object-position: center;
    }

    &.name {
      font-size: $fs-body;
      line-height: $lh-excerpt;
    }

    time {
      font-size: $fs-sm;
    }
  }

  &__content {
    position: relative;
    width: $cs-full;
    max-width: $cs-post;
    text-align: left;

    p {
      overflow-wrap: break-word;
      line-height: $lh-post;
      color: rgba($cl-white, 0.8);

      strong {
        font-weight: 600;
        color: $cl-white;
      }

      &:not(:last-child) {
        margin-bottom: $sp-8-notch;
      }
    }
  }

  &__more {
    position: relative;
    width: 100%;
    display: grid;
    justify-content: center;
    gap: $sp-8;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    @media screen and (min-width: $bp-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: $bp-lg) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &--container {
      padding-top: $sp-8;
      width: $cs-full;

      @media screen and (min-width: $bp-2xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .post {
      will-change: transform;
      transition: $t-ease;
      transform: perspective(1000px) rotate(0deg) scale3d(1, 1, 1);

      a {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border-radius: $sp-2;
        border: 1px solid $cl-dark-2;
        background: $gr-dark-2;
        color: $cl-white;
        overflow: hidden;
        transition: $t-ease;

        &:hover {
          transform: translateY(-1%);
          border-color: $cl-white;
        }
      }

      &__body {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: $sp-2;
      }

      &__image {
        position: relative;
        height: 13rem;
        width: 100%;

        img {
          object-fit: cover;
          object-position: center;
        }
      }

      &__title {
        padding-top: $sp-6;
        padding-left: $sp-6;
        padding-right: $sp-6;

        h3 {
          font-weight: 500;
          line-height: $lh-item;
          font-size: $fs-tagline;
        }
      }

      &__footer {
        width: 100%;
        padding: $sp-6;

        span {
          color: $cl-gray;
          font-size: $fs-sm;
          line-height: $lh-item;
        }
      }
    }

    &--container {
      display: flex;
      flex-direction: column;
      gap: $sp-8;
      width: $cs-full;
      padding-left: $sp-8;
      padding-right: $sp-8;

      @media screen and (min-width: $bp-2xl) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &--title {
      font-size: $fs-more !important;
      line-height: $lh-h2;
    }
  }
}
